main {
    border: 1px solid red;
    width: 305px;
    padding: 20px;
}

.display {
   height: 40px;
   padding-left: 10px;
   font-size: 30px;
   color:blue;
   font-style: italic;
   border: 1px solid black;
   border-radius: 8px;;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    justify-content: center;
    gap: 10px;
}

.buttons .button {
    width: 30%;
    height: 30px;
}

.button.equal {
    background-color: rgb(254, 140, 140);
    border-color: rgb(254, 140, 140);
}

.button.equal:active {
    background-color: rgb(249, 14, 14);
}

